.vscode
.ipynb_checkpoints
__pycache__

"New Data\\full_Datasets_type_I_and_II\\Dataset_II_part1.csv"
"New Data\\full_Datasets_type_I_and_II\\Dataset_II_part2.csv"
"New Data\\full_Datasets_type_I_and_II\\Dataset_I_part1.csv"
"New Data\\full_Datasets_type_I_and_II\\Dataset_I_part2.csv"

DataExam/*.txt
DataExam/***/*.txt

DataNew/*.txt
DataNew/***/*.txt

DataWin/*.txt
DataWin/***/*.txt